<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.dsacharya.servlets.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.dsacharya.servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.dsacharya.servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>com.dsacharya.servlets.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questions</servlet-name>
        <servlet-class>com.dsacharya.entities.questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>com.dsacharya.entities.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkQuestion</servlet-name>
        <servlet-class>com.dsacharya.servlets.MarkQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questions</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkQuestion</servlet-name>
        <url-pattern>/MarkQuestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
